.mld-event-link {
	line-height: normal;
}
.mld-event-link a {
	text-decoration: none;
}
.mld-event-time,
.mld-event-link a {
	font-size: 12px;
}
.mld-event-time {
	margin-top: 7px;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper {
	background-color: unset;
	padding: 0;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-events-calendar-list__event-wrapper {
	background-color: #fff!important;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    transition: transform 0.2s, box-shadow 0.2s !important;
    margin-right: 0;
}
.mld-no-event-wrapper {
	position: relative;
    width: 80%;
    transform: translate(-50%, 10%);
    left: 50%;
    top: 50%;
}
.mld-calendar-section-wrapper .mld-view-all-events {
	text-align: right;
}
.mld-calendar-section-wrapper .mld-view-all-events a {
	font-size: 0.9rem;
	color: #365249 !important;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.2s;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-common-g-row.tribe-events-calendar-list__event-row,
.mld-calendar-section-wrapper .mld-calendar-list-view .tribe-common-g-row.tribe-events-calendar-list__event-row {
	margin: 0px 0 10px 0px !important;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-events-calendar-list__event-wrapper:hover {
	transform: translateY(-3px);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-common-l-container.tribe-events-l-container {
	background-color: unset !important;
	border: 1px solid unset !important;
	border-top-right-radius: unset !important;
	border-top-left-radius: unset !important;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-events-calendar-list__event {
	background-color: unset !important;
}
.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-common-l-container.tribe-events-l-container {
	border: unset!important;
}
.mld-calendar-section-wrapper .tribe-events-calendar-list__event {
	padding: 0 !important;
}
.mld-calendar-section-wrapper .tribe-events-calendar-list__event-title-link {
	font-family: poppins !important;
}
.mld-calendar-wrapper .tribe-events-calendar-list__event-featured-image-wrapper img,
.mld-calendar-list-view .tribe-events-calendar-list__event-featured-image-wrapper img {
	height: 90px !important;
	width: 100% !important;
	object-fit: fill !important;
	margin-top: unset !important;
}
.mld-calendar-wrapper .tribe-events-calendar-list__event-featured-image-wrapper,
.mld-calendar-list-view .tribe-events-calendar-list__event-featured-image-wrapper {
	margin-bottom: unset !important;
	width: 45% !important;
	padding-right: 5px !important;
}
.mld-calendar-wrapper .tribe-events-calendar-list__event-details,
.mld-calendar-list-view .tribe-events-calendar-list__event-details {
	width: 55% !important;
	padding-top: 10px !important;
	padding-right: 0 !important;
}

.tribe-events-calendar-list__event-datetime-wrapper.tribe-common-b2,
.tribe-events-calendar-list__event-title.tribe-common-h6.tribe-common-h4--min-medium {
	margin-left: unset !important;
}
.tribe-events-calendar-list__event-title.tribe-common-h6.tribe-common-h4--min-medium,
.tribe-events-calendar-list__event-datetime-wrapper.tribe-common-b2 {
	text-align: left !important;
}
.tribe-events-c-top-bar.tribe-events-header__top-bar,
.tribe-events-calendar-list__event-description p{
	display: none !important;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-list__event  {
	justify-content: initial !important;
}
.tribe-events .tribe-events-calendar-list__month-separator+.tribe-events-calendar-list__event-row {
	margin-top: unset !important;
}
@media only screen and (min-width: 1600px) and (max-width: 2000px)  {
	.mld-calendar-section-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 33% !important;
	}
}
@media only screen and (min-width: 1250px) and (max-width: 1300px)  {
	.tribe-events-header.tribe-events-header--has-event-search {
		display: block !important;
	}
}
@media only screen and (max-width: 1024px) {

	.mld-calendar-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 20% !important;
	}
	.mld-calendar-section-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 40% !important;
	}
}
@media only screen and (max-width: 750px) {
	.mld-calendar-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 25% !important;
	}
}
@media only screen and (min-width: 530px) and (max-width: 650px)  {
	.mld-calendar-wrapper {
		padding-top: 15px !important;
	}
}
@media only screen and (min-width: 824px) and (max-width: 1024px)  {
	.tribe-common-g-row.tribe-events-calendar-list__event-row {
		margin: 13px 0 10px 10px !important;
	}
}

@media only screen and (min-width: 824px) and (max-width: 1030px)  {
	.mld-calendar-wrapper {
		padding-top: 12px !important;
	}
}
@media only screen and (min-width: 650px) and (max-width: 780px) {

	.mld-calendar-section-wrapper .tribe-events-view.tribe-events-view--list {
		line-height: 0 !important;
		margin-top: 20px;
	}
	.mld-calendar-section-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {
		width: 25% !important;
	}
}

@media only screen and (max-width: 780px) {
	.mld-calendar-section-wrapper .mld-view-all-events {
		right: 40px;
	}
}
@media only screen and (max-width: 650px) {

	.mld-calendar-section-wrapper .tribe-events-view.tribe-events-view--list {
		line-height: 0 !important;
		margin-top: 0px;
	}
	.mld-calendar-section-wrapper .mld-calendar-wrapper {
		margin-top: 0 !important;
	}
}
@media only screen and (max-width: 530px) {

   .mld-calendar-section-wrapper .mld-view-all-events {
		right: 10px;
	}
}

@media only screen and (max-width: 500px) { 
 	
 	.mld-calendar-section-wrapper .mld-calendar-wrapper .tribe-events-calendar-list__event-featured-image-wrapper {

		width: 35% !important;
	}
}
.mld-event-main-wrapper {
   margin-top: 16px;
}
.mld-calendar-wrapper {
   background: #ffffff !important;
}
.mld-events-wrapper {
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
   padding: 5px 0;
   border-radius: 12px;
}
.mld-events-wrapper .mld-event-thumbnail {
   float: left;
   width: 40%;
   padding-left: 5px;
}
.mld-events-wrapper .mld-event-detail {
   float: right;
   width: 60%;
   padding: 0 15px;
}
.mld-event-thumbnail img {
   width: 90%;
   height: 100px;
   border-radius: 12px;
}
.mld-events-wrapper {
   margin-bottom: 10px;
}
.mld-event-detail a {
   font-weight: 600;
   font-size: 12px;
   font-family: poppins;
}
.mld-event-detail a,
.mld-events-wrapper .mld-event-detail {
   color: #04390B;
}