.mld-resource-settings-wrapper .mld-clear-both {
    clear: both;
}
.mld-resource-settings-wrapper .mld-inner-wrap {
    margin: 10px;
}
.mld-resource-settings-wrapper .mld-inner-wrap .mld-inner-wrap-title {
    width: 30%;
    float: left;
    font-size: 15px;
    font-weight: 600;
    padding: 10px 0;
}
.mld-resource-settings-wrapper .mld-inner-wrap .mld-inner-wrap-content {
    width: 70%;
    float: right;
}
.mld-resource-settings-wrapper .mld-inner-wrap .mld-inner-wrap-content input {
    padding: 8px;
    width: 60%;
    border: 1px solid #e4e4e4;
}
.mld-inner-wrap-content a {
    background: #e4e4e4;
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
}
.mld-inner-wrap-content .mld-pdf {
    margin-bottom: 20px;
}
.mld-resource-settings-wrapper select {
    height: 52px;
    border: 2px solid #e4e4e4;
    width: 60%;
}
.mld-resource-clone {
    background: unset !important;
    border: unset !important;
    color: #135e96 !important;
    cursor: pointer;
}
.mld-download-able-btn {
    background: #18440a;
    padding: 14px;
    border-radius: 12px;
    color: white;
    text-decoration: none;
}