.mld-user-exists-msg,
.mld-name-suggestion,
.mld-email-exists-msg {
	color: red;
}
.mld-footer-buttom {
	margin-top: 30px;
}
.mld-sub-heading {
	font-size: 20px;
    font-weight: 600;
    color: #838080;
    margin: 10px 0;
}
.mld-user-registration-next button {
	width: 100%;
	padding: 10px;
	border-radius: 30px;
	border: none;
	background: #bcbcbc;
	cursor: pointer;
	color: white;
}
.mld-user-registration-next button:hover {
	color: white !important;
}
.mld-user-prev-btn,
.mld-user-registration-second-page,
.mld-user-registration-third-page,
.mld-user-registration-fourth-page {
	display: none;
}

.mld-user-registration-second-page,
.mld-user-registration-third-page,
.mld-user-registration-fourth-page {
	margin-top: 30px;
}

.mld-user-registration-first-page input,
.mld-user-registration-second-page input,
.mld-user-registration-third-page textarea,
.mld-user-registration-fourth-page textarea {
	width: 100%;
	padding: 10px;
}
.mld-clear-both {
	clear: both;
}
.mld-user-registration-first-page .mld-user-reg-fields-wrapper, 
.mld-user-registration-second-page .mld-user-reg-fields-wrapper,
.mld-medi-condition,
.mld-extra-support,
.mld-allergies {
	width: 100%;
	margin-bottom: 10px;
}
.mld-user-registration-first-page .mld-user-first-name,
.mld-user-registration-second-page .mld-user-date-birth {
	float: left;
	width: 47%;
}
.mld-user-registration-first-page .mld-user-last-name,
.mld-user-registration-second-page .mld-user-y-group {
	float: right;
	width: 50%;
}
.mld-user-registration-title {
	text-align: center;
}
.stepper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.step {
	display: flex;
	align-items: center;
	position: relative;
}
.stepper .step:nth-child(1),
.stepper .step:nth-child(2),
.stepper .step:nth-child(3) {
	width: 33%;
}

.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 2px solid #ccc;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	font-weight: bold;
	color: #999;
}

.step-one .active,
.step-two .active,
.step-three .active,
.step-four .active {
	border-color: green;
	background-color: green;
	color: white;
}

.line {
	height: 2px;
	width: 100%;
	background-color: #ccc;
	position: absolute;
	top: 50%;
	left: 30px;
	transform: translateY(-50%);
}

.step:last-child .line,
.mld-recaptcha {
	display: none;
}
.mld-error-msg {
	display: none;
	color: red;
	text-align: center;
}
.mld-form-head-wrap {
	text-align: center;
}
.mld-form-head-wrap img {
	height: 150px !important;
}
.mld-student-form-heading {
	font-size: 40px;
	margin: 52px 0;
	color: #335749;
}